assertpy==1.1
attrs==19.3.0
-e git+https://github.com/onyxcherry/SzkolaTestow@4c80175bf9bed284f315c817dbb6ecebbf2c90ad#egg=ModuleTwo&subdirectory=ModuleTwo
more-itertools==8.4.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==5.4.3
pytest-mock==3.2.0
six==1.15.0
wcwidth==0.2.5
